.container{
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: 100%;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
}

.game-container{
    display: flex;
    justify-content: space-between;
}

.roominfo{
    margin-left: 2%;
    flex:1;
}

.div-button{
    display: flex;
  justify-content: center;
  align-items: center;
}

.buttonstart {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  height: 20%;
  width: 60%;
  margin-top: 2%
}

.buttonstart:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .buttonstart {
    padding: 10px 30px;
  }
}

.buttonvote {
  background-color: #c71010;
  border: 1px solid #c71010;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  height: 20%;
  width: 30%;
  padding: 2%;
  margin-top: 2%;
  margin-left: 2%;
}

.buttonvote:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}